gplobj/*.o
bin/qm
bin/libqmcli.so
bin/qm
bin/qmclilib.so
bin/qmconv
bin/qmfix
bin/qmidx
bin/qmlnxd
bin/qmtic
stacks/*

# Workspace files to exclude. IDE's, etc.
.idea/**
.vscode/**
PVS_Studio.fullhtml/**
PVS_Studio.tasks
gcc.log
strace_out
