[Unit]
Description=ScarletDME service start

[Service]
Type=forking
ExecStart=/usr/bin/qm -start
ExecStop=/usr/bin/qm -stop
PIDFile=/run/scarletdme.pid

[Install]
WantedBy=default.target
